# dependencies
node_modules/

# build output
dist/
.netlify/

# logs & diagnostics
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# env & local config
.env
.env.local
.env.*.local

# OS / editor
.DS_Store
Thumbs.db
.vscode/

# testing
coverage/

# misc
*.pem
